<template>
    <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h3 class="h3">Panel de control</h3>
            <div class="btn-toolbar mb-2 mb-md-0">
                <!--
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button>
                -->
            </div>


        </div>
         <el-row :gutter="10">
                <el-col :span="8">
                    <el-card shadow="always">
                        Cantidad de productos : {{count}}
                    </el-card>
                </el-col>
            </el-row>
    </div>
</template>

<script>
export default {
    created(){
        this.$store.commit('SET_LAYOUT', 'admin')
    },
    mounted(){
        this.getCount()
    },
    data(){
        return{
            count: 0
        }
    },
    methods:{
        getCount(){
            axios.get("/api/productos/count",{
                headers:{
                    Authorization: 'Bearer '+this.$store.getters.access_token
                }
            })
            .then(response => {
                this.count = response.data.total;
            })
            .catch(e => {
                console.log(e);
            });
        }
    }
}
</script>
