<template>
    <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h3 class="h3">Productos</h3>
            <div class="btn-toolbar mb-2 mb-md-0">
                <!--
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button>
                -->
            </div>
        </div>
        <el-row :gutter="20" class="mb-4">
            <el-col :md="{span: 6 }"  :lg="{span: 6}" :sm="24" :xs="24">
                <el-button @click="handleCollapse" class="w-100" :type="visible ? 'danger' : ''"  :icon="visible ? 'el-icon-close' : 'el-icon-plus'" round>{{visible ? 'Cerrar' : 'Nuevo producto'}}</el-button >
            </el-col>
            <!--
            <el-col :md="{span: 6 }"  :lg="{span: 6}" :sm="24" :xs="24">
                <download-excel
                    class="el-button w-100 el-button--info el-button--mini "
                    :fetch="fetchExcel"
                    :fields="json_fields"
                    worksheet="Visitas"
                    name="datos_control_de_visitas.xls">
                    <i  class="fa fa-download"></i> Exportar
                </download-excel>
            </el-col>
            -->
            <el-col :md="{span: 6, offset:12}"  :lg="{span: 6, offset:12 }" :sm="24" :xs="24">
                <el-button class="w-100" icon="el-icon-refresh" @click="reload" round>Actualizar</el-button>
            </el-col>
        </el-row>

        <el-row class="mb-3" >
            <el-col :span="24">
                <b-collapse v-model="visible" class="" >
                    <el-form class="pt-3" @keyup.enter.native="register()" :model="registerForm"  ref="formRegister" :rules="rules">
                        <el-row :gutter="20">
                                <el-form-item  prop="titulo" class="w-100" label="Nombre">
                                    <el-input
                                        class="w-100"
                                        clearable
                                        v-model="registerForm.titulo"
                                        maxlength="200"
                                        ></el-input>
                                        <span style="color:red;" v-if="errors.titulo">{{ errors.titulo }}</span>
                                </el-form-item>
                                <el-form-item prop="descripcion" class="w-100" label="Descripción">
                                    <el-input
                                        type="textarea"
                                        :rows="2"
                                        clearable
                                        class="w-100"
                                        v-model="registerForm.descripcion"
                                        maxlength="200"
                                        ></el-input>
                                    <span style="color:red;" v-if="errors.descripcion">{{ errors.descripcion }}</span>
                                </el-form-item>
                                <el-form-item label="Foto" prop="foto" >
                                    <span v-if="editMode">Si quiere actualizar la fotografia, solo debe cargar la nueva foto</span>
                                    <input ref="foto" prop="foto" v-on:change="onImageChange($event)" type="file" class="form-control" />
                                    <p v-for="(err,index) in errors.foto" :key="index" style="color:red;">{{ err }}</p>
                                </el-form-item>
                                <el-form-item>
                                    <el-button  :loading="loading"  @click="register()">Guardar</el-button>
                                </el-form-item>
                        </el-row>
                    </el-form>
                </b-collapse>
            </el-col>
        </el-row>

        <el-row :gutter="20">
            <el-col :span="24">
                <el-row>
                    <el-col :span="24">
                        <el-table
                            v-loading="loading"
                            :data="productos"
                            style="width: 100%">
                            <el-table-column
                                label="Foto">
                                <template slot-scope="scope">
                                    <el-image
                                        lazy
                                        style="width: 80px; height: 80px"
                                        :src="'/imagenes/productos/'+scope.row.foto"
                                        :preview-src-list="['/imagenes/productos/'+scope.row.foto,'/imagenes/productos/'+scope.row.foto]">
                                        <div slot="error" class="image-slot">
                                            <i class="el-icon-picture-outline"></i>
                                        </div>
                                    </el-image>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="nombre"
                                label="Nombre">
                            </el-table-column>
                            <el-table-column
                                prop="descripcion"
                                label="Descripción">
                            </el-table-column>
                            <el-table-column
                                prop="usuario.name"
                                label="Subido por">
                            </el-table-column>
                            <el-table-column
                                prop="created"
                                label="Fecha de ingreso">
                            </el-table-column>
                            <el-table-column
                                label="Operaciones">
                                <template slot-scope="scope">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-button type="primary" @click="edit(scope.$index)" icon="el-icon-edit"></el-button>


                                        </el-col>
                                        <el-col :span="12">
                                            <el-button @click="destroy(scope.row.id)"  type="danger" icon="el-icon-close"></el-button>

                                        </el-col>
                                    </el-row>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <br>
        <el-row>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <pagination
                    v-if="pagination.last_page > 1"
                    :pagination="pagination"
                    :offset="1"
                    @paginate="getData() ">
                </pagination>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import Pagination from '../partials/PaginateComponent'

export default {
    components: {
        'pagination' : Pagination
    },

    created(){
        this.$store.commit('SET_LAYOUT', 'admin')
    },
    mounted(){
        this.getData()
    },
    data(){
        return{
            errors:[],
            error:'',
            visible:false,
            editMode:false,
            loading:false,
            productos:[],

            registerForm:{
                id:'',
                titulo:'',
                descripcion:'',
                foto:''
            },
            rules: {
                titulo: [
                    { required: true, message: 'Debe ingresar el titulo', trigger: ['blur', 'change'] },
                ],
                descripcion: [
                    { required: true, message: 'Debe ingresar la descripción', trigger: ['blur', 'change'] },
                ],
                url: [
                    { required: true, message: 'Debe ingresar una imagen', trigger: ['blur', 'change'] },
                ]
            },
            pagination: {
                current_page: 1
            },
        }
    },
    methods:{
        edit(index){
            this.editMode = true
            this.registerForm.titulo = this.productos[index].nombre
            this.registerForm.descripcion = this.productos[index].descripcion
            this.registerForm.id = this.productos[index].id
            this.registerForm.foto  = this.productos[index].foto
            if(this.visible === false){
                this.visible = true
            }
        },
        getData(){
            this.loading = true;
            this.$Progress.start();
            axios.get("/api/productos/index?page=" + this.pagination.current_page,{
                headers:{
                    Authorization: 'Bearer '+this.$store.getters.access_token
                }
            })
            .then(response => {
                //console.log(response)
                this.productos = response.data.data;
                this.pagination = response.data.meta;
                this.$Progress.finish();
                this.loading = false;
            })
            .catch(e => {
                console.log(e);
                this.$Progress.fail();
                this.loading = false;
            });
        },
        handleCollapse(){
            this.visible = !this.visible
            if(this.editMode === true){
                this.editMode = false
                this.$refs.formRegister.resetFields()
            }
        },
        nuevoProductoLink(){

        },
        reload(){
            const self =this
            this.loading = true
            setTimeout(function(){
                self.getData()
                self.$notify({
                    title: 'Completado',
                    message: 'Actualización lista',
                    type: 'success'
                });
            },1000)


        },
        register(){
            this.$refs.formRegister.validate((valid) => {
                if (valid) {
                    this.loading = true;
                    this.errors = ''
                    var self = this;
                    let action = '';

                    if(!this.editMode){
                        action = 'registerProduct'
                    }else{
                        action = 'updateProduct'
                    }
                    setTimeout(function(){
                        self.$store.dispatch(action,self.registerForm)
                        .then(response => {
                            console.log(response)
                            self.loading = false
                            self.$notify({
                                title: 'Completado',
                                message: response.data.message,
                                type: 'success'
                            });
                            self.$refs.formRegister.resetFields()
                            //clean input
                            const input = self.$refs.foto
                            input.type = 'text'
                            input.type = 'file'
                            self.handleCollapse()
                            self.getData()

                            //self.$router.push({name:'login'});
                        }).catch(error => {

                            console.log(error)
                            if(error.response.status == 422){
                                self.errors = error.response.data.errors
                            }
                            self.loading = false
                            //self.$router.push({name:'login'});
                        })
                    },1500)
                } else {
                    return false;
                }
            })
        },
        destroy(id){
            self = this
            this.$confirm('¿Está seguro/a de eliminar este producto ?')
          .then(_ => {
              self.$store.dispatch('destroyProduct',id)
              .then(response => {
                this.$notify({
                    title: 'Completado',
                    message: 'Producto eliminado correctamente',
                    type: 'success'
                });
                self.getData()
                //self.handleCollapse()
              })
              .catch(err => {
                console.log(err)
                this.$notify({
                    title: 'Error',
                    message: err,
                    type: 'error'
                });
              })
          })
          .catch(_ => {});
        },
        onImageChange(e,index) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0],index);
        },
        createImage(file,index) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.registerForm.foto = e.target.result;
                vm.error=''
            };
            reader.readAsDataURL(file);
        },
    }
}
</script>
