<template>
    <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h3 class="h3">Registros</h3>
        </div>

        <el-row :gutter="20">
            <el-col :span="24">
                <el-row>
                    <el-col :span="24">
                        <el-table
                            v-loading="loading"
                            :data="registros"
                            style="width: 100%">
                            <el-table-column
                                prop="usuario.name"
                                label="Usuario">
                            </el-table-column>
                            <el-table-column
                                prop="log"
                                label="Acción">
                            </el-table-column>
                            <el-table-column
                                prop="created"
                                label="Fecha de ingreso">
                            </el-table-column>

                        </el-table>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <br>
        <el-row>
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <pagination
                    v-if="pagination.last_page > 1"
                    :pagination="pagination"
                    :offset="1"
                    @paginate="getData()">
                </pagination>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import Pagination from '../partials/PaginateComponent';

export default {
    components: {
        'pagination' : Pagination
    },
    created(){
        this.$store.commit('SET_LAYOUT', 'admin')
    },
    mounted(){
        this.getData()

    },
    data(){
        return{
            loading:false,
            registros:[],
            pagination: {
                current_page: 1
            },
        }
    },
    methods:{
        getData(){
            this.loading = true;
            this.$Progress.start();
            axios.get("/api/registros/index?page=" + this.pagination.current_page,{
                headers:{
                    Authorization: 'Bearer '+this.$store.getters.access_token
                }
            })
            .then(response => {
                //console.log(response)
                this.registros = response.data.data;
                this.pagination = response.data.meta;
                this.$Progress.finish();
                this.loading = false;
            })
            .catch(e => {
                console.log(e);
                this.$Progress.fail();
                this.loading = false;
            });
        }
    }
}
</script>
