<template>
    <div>
         <div class="position-relative overflow-hidden p-5 p-md-5 m-md-5 text-center bg-light">
            <h2>Inicia sesion para continuar</h2>
            <el-form :model="loginForm" :rules="rules" ref="loginForm" class="demo-ruleForm" v-loading="loading">
                <span class="" style="color:red">{{ error }}</span>
                <el-form-item label="Correo o nombre de usuario" prop="username">
                    <el-input v-model="loginForm.username" maxlength="200"
                    show-word-limit></el-input>
                    <span style="color:red;" v-if="errors.username">{{ errors.username }}</span>
                </el-form-item>

                <el-form-item label="Contraseña" prop="password">
                    <el-input show-password v-model="loginForm.password" maxlength="200"
                    show-word-limit></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button :loading="loading" @click="login()">Ingresar</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
export default {
    created(){
         this.$store.commit('SET_LAYOUT', 'web')
    },
    data(){
        return{
            loading: false,
            errors : [],
            error:'',
            loginForm:{
                username : '',
                password : ''
            },
            rules: {
                password: [
                    { required: true, message: 'Debe ingresar una contraseña', trigger: ['blur', 'change'] },
                    { min: 6, message: 'Su contraseña debe tener mínimo 6 letras', trigger: ['blur', 'change'] },

                ],
                username:[
                    {required:true,message:'Debe ingresar un nombre de usuario',trigger:['blur','change']}
                ]
            }

        }
    },
    methods:{
        login(){
            this.$refs.loginForm.validate((valid) => {
                if (valid) {
                    this.loading = true;
                    this.errors = ''
                    var self = this;
                    setTimeout(function(){
                        self.$store.dispatch('retrieveToken',self.loginForm)
                        .then(response => {
                            console.log(response)
                            self.loading = false
                            self.$notify({
                                title: 'Bienvenido(a)',
                                message: 'Hola '+ self.$store.getters.user.name + "!",
                                type: 'info'
                            });
                            self.$router.push({name: 'root' })
                        }).catch(error => {
                            console.log(error)
                            if(error.response.status == 401){
                                self.error = "Estas credenciales no se encuentran registradas"
                                self.loginForm.password = ''
                            }
                            self.loading = false
                            //self.$router.push({name:'login'});
                        })
                    },1500)
                } else {
                    return false;
                }
            })
        }
    }
}
</script>
