<template>
    <div>

    </div>
</template>

<script>
export default {
    created(){
        this.$store.dispatch('destroyToken')
        .then(response => {
            this.$notify({
                title: '',
                message: 'Vuelva Pronto!',
                type: 'info'
            });
            this.$router.push({name:'root'});
        })
    }
}
</script>
