<template>
    <div>
        <div class="position-relative overflow-hidden p-5 p-md-5 m-md-5 text-center bg-light">
                    <h2>Registrate llenando este formulario</h2>

            <el-form :model="registerForm" :rules="rules" ref="register" class="demo-ruleForm" v-loading="loading">
                <span v-if="errors.length > 0" style="color:red;">{{ errors }}</span>
                <el-form-item label="Nombre Completo" prop="name">
                    <el-input v-model="registerForm.name" maxlength="200"
                    show-word-limit></el-input>
                    <span style="color:red;" v-if="errors.name">{{ errors.name }}</span>
                </el-form-item>

                <el-form-item label="Correo electronico" prop="email">
                    <el-input v-model="registerForm.email" maxlength="200"
                    show-word-limit></el-input>
                    <span style="color:red;" v-if="errors.email">{{ errors.email }}</span>
                </el-form-item>

                <el-form-item label="Nombre de usuario" prop="username">
                    <el-input v-model="registerForm.username" maxlength="60"
                    show-word-limit></el-input>
                    <span style="color:red;" v-if="errors.username">{{ errors.username }}</span>
                </el-form-item>

                <el-form-item label="Contraseña" prop="password">
                    <el-input show-password v-model="registerForm.password" maxlength="200"
                    show-word-limit></el-input>
                </el-form-item>

                <el-form-item label="Confirmar contraseña" prop="password_confirmation">
                    <el-input show-password v-model="registerForm.password_confirmation" maxlength="200"
                    show-word-limit></el-input>
                    <span style="color:red;" v-if="errors.password">{{ errors.password }}</span>
                </el-form-item>

                <el-form-item>
                    <el-button :loading="loading" @click="register()">Registrarse</el-button>
                </el-form-item>
            </el-form>
        </div>

    </div>
</template>

<script>
export default {
    created(){
         this.$store.commit('SET_LAYOUT', 'web')
    },
    data(){
        var validatePass = (rule, value, callback) => {
            if (value === '') {
            callback(new Error('Ingrese una contraseña'));
            } else {
            if (this.registerForm.password_confirmation !== '') {
                this.$refs.register.validateField('password_confirmation');
            }
                callback();
            }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Ingrese la contraseña nuevamente'));
        } else if (value !== this.registerForm.password) {
          callback(new Error('Las contraseña no coinciden'));
        } else {
          callback();
        }
      };
        return{
            errors: [],
            loading:false,
            registerForm:{
                name:'',
                username:'',
                email:'',
                password:'',
                password_confirmation: ''
            },
            rules: {
                name:[
                    {required:true, message:'Debe ingresar su nombre completo',trigger:['blur','change']}
                ],
                email: [
                    { required: true, message: 'Debe ingresar un correo', trigger: ['blur', 'change'] },
                    { type: 'email', message: 'Ingrese un email valido', trigger: ['blur', 'change'] }
                ],
                password: [
                    { validator: validatePass, trigger: 'blur' },
                    { required: true, message: 'Debe ingresar una contraseña', trigger: ['blur', 'change'] },
                    { min: 6, message: 'Su contraseña debe tener mínimo 6 letras', trigger: ['blur', 'change'] },

                ],
                password_confirmation: [
                    {validator: validatePass2, trigger: 'blur'}
                ],
                username:[
                    {required:true,message:'Debe ingresar un nombre de usuario',trigger:['blur','change']}
                ]
            }
        }
    },
    methods:{
        register(){
            this.$refs.register.validate((valid) => {
                if (valid) {
                    this.loading = true;
                    this.errors = ''
                    var self = this;
                    setTimeout(function(){
                        self.$store.dispatch('registerUser',self.registerForm)
                        .then(response => {
                            console.log(response)
                            self.loading = false
                            self.$notify({
                                title: 'Completado',
                                message: 'Registro exitoso! inicia sesión para continuar',
                                type: 'success'
                            });
                            self.$router.push({name:'login'});
                        }).catch(error => {

                            console.log(error)
                            if(error.response.status == 422){
                                self.errors = error.response.data.errors
                            }
                            self.loading = false
                            //self.$router.push({name:'login'});
                        })
                    },1500)
                } else {
                    return false;
                }
            })
        }
    }
}
</script>
