<template>
    <component v-bind:is="layout"></component>
</template>

<script>
import WebLayout from './layouts/WebLayout'
import AdminLayout from './layouts/AdminLayout'

export default {
  computed: {
    layout () {
      return this.$store.getters.layout
    }
  },
  components: {
    'web': WebLayout,
    'admin': AdminLayout
    // define as many layouts you want for the application
  }
}
</script>
