<template>
    <div>
         <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
             <h3>Mi Cuenta</h3>
             <el-divider></el-divider>
             <el-row :gutter="10" v-if="!editPersonal && !editPassword">
                 <el-col :span="8">
                     <el-button icon="el-icon-edit" @click="showPersonal" round>Editar datos personales</el-button>
                 </el-col>
                 <el-col :span="8">
                     <el-button icon="el-icon-edit"  @click="showPassword" round>Cambiar Contraseña</el-button>
                 </el-col>
                 <el-col :span="8">
                     <el-button @click="logout" icon="el-icon-close" round>Cerrar Sesión</el-button>
                 </el-col>
             </el-row>
             <el-row v-else>
                  <el-col :span="24">
                     <el-button icon="el-icon-back" @click="volver" round>Volver</el-button>
                 </el-col>
             </el-row>
             <br>
             <el-row v-if="!editPersonal && !editPassword" class="text-center">
                 <el-col :md="{span: 8 , offset: 8 }"  :lg="{span: 8, offset: 8}" :sm="24" :xs="24" class="text-center">
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td>Nombre: </td>
                                <td>{{user.name}}</td>
                            </tr>
                            <tr>
                                <td>Email: </td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Username: </td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>Fecha de registro: </td>
                                <td>{{user.created_at}}</td>
                            </tr>
                        </tbody>
                    </table>
                 </el-col>
             </el-row>
             <el-row v-if="editPersonal">
                 <el-col :md="{span: 8 , offset: 8 }"  :lg="{span: 8, offset: 8}" :sm="24" :xs="24" class="text-center">
                     <el-form :model="updateFormPersonal" :rules="updateFormPersonalRules" ref="updateFormPersonal">
                        <el-form-item label="Nombre" prop="name">
                            <el-input v-model="updateFormPersonal.name" maxlength="200"
                            show-word-limit></el-input>
                            <span style="color:red;" v-if="errorsPersonal.name">{{ errorsPersonal.name }}</span>
                        </el-form-item>
                        <el-form-item label="Correo" prop="email">
                            <el-input v-model="updateFormPersonal.email" maxlength="200"
                            show-word-limit></el-input>
                            <span style="color:red;" v-if="errorsPersonal.email">{{ errorsPersonal.email }}</span>
                        </el-form-item>
                        <el-form-item label="Nombre de usuario" prop="username">
                            <el-input  v-model="updateFormPersonal.username" maxlength="200"
                            show-word-limit></el-input>
                            <span style="color:red;" v-if="errorsPersonal.username">{{ errorsPersonal.username }}</span>
                        </el-form-item>
                        <el-form-item>
                            <el-button :loading="loading" @click="validAction('updateFormPersonal')">Actualizar</el-button>
                        </el-form-item>
                    </el-form>
                 </el-col>
             </el-row>
             <el-row v-if="editPassword">
                 <el-col :md="{span: 8 , offset: 8 }"  :lg="{span: 8, offset: 8}" :sm="24" :xs="24" class="text-center">
                     <el-form :model="updateFormPersonalPassword" :rules="updateFormPersonaPasswordlRules" ref="updateFormPersonalPassword">
                        <el-form-item label="Contraseña" prop="password">
                            <el-input show-password v-model="updateFormPersonalPassword.password" maxlength="200"
                            show-word-limit></el-input>
                        </el-form-item>

                        <el-form-item label="Confirmar contraseña" prop="password_confirmation">
                            <el-input show-password v-model="updateFormPersonalPassword.password_confirmation" maxlength="200"
                            show-word-limit></el-input>
                            <span style="color:red;" v-if="errorsPassword.password">{{ errorsPassword.password }}</span>
                        </el-form-item>
                        <el-form-item>
                            <el-button :loading="loading" @click="validAction('updateFormPersonalPassword')">Actualizar</el-button>
                        </el-form-item>
                    </el-form>
                 </el-col>
             </el-row>
        </div>

        <el-drawer
            title="Validación Obligatoria"
            :visible.sync="drawer"
            :direction="'btt'"
            :before-close="handleClose"
            size="50%">
            <el-row class="p-3">
                <el-col :span="24" class="text-center">
                    <span>Por seguridad, por favor ingrese su contraseña actual</span>
                    <el-form class="w-100" :model="validForm" :rules="validFormRules" ref="validForm">
                        <el-form-item label="Contraseña" prop="password">
                            <el-input show-password v-model="validForm.password" maxlength="200"
                            show-word-limit></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button :loading="loading" @click="validar">Validar</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </el-drawer>
    </div>
</template>

<script>
export default {
    computed:{
        loggedIn(){
            return this.$store.getters.loggedIn
        },
        user(){
            return this.$store.getters.user
        }
    },
    data(){
        var validatePass = (rule, value, callback) => {
            if (value === '') {
            callback(new Error('Ingrese una contraseña'));
            } else {
            if (this.updateFormPersonalPassword.password_confirmation !== '') {
                this.$refs.updateFormPersonalPassword.validateField('password_confirmation');
            }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
            callback(new Error('Ingrese la contraseña nuevamente'));
            } else if (value !== this.updateFormPersonalPassword.password) {
            callback(new Error('Las contraseña no coinciden'));
            } else {
            callback();
            }
        };
        return{
            action:'',
            drawer:false,
            loading: false,
            errorsPersonal:[],
            errorsPassword:[],
            editPersonal:false,
            editPassword:false,
            updateFormPersonal:{
                id:'',
                email:'',
                username:'',
                name:''
            },
            validForm:{
                id:'',
                password:'',
            },
            updateFormPersonalPassword:{
                id:'',
                password:'',
                password_confirmation: ''
            },
            updateFormPersonaPasswordlRules: {
                password: [
                    { validator: validatePass, trigger: 'blur' },
                    { required: true, message: 'Debe ingresar una contraseña', trigger: ['blur', 'change'] },
                    { min: 6, message: 'Su contraseña debe tener mínimo 6 letras', trigger: ['blur', 'change'] },

                ],
                password_confirmation: [
                    {validator: validatePass2, trigger: 'blur'}
                ]
            },
            updateFormPersonalRules: {
                name:[
                    {required:true, message:'Debe ingresar su nombre completo',trigger:['blur','change']}
                ],
                email: [
                    { required: true, message: 'Debe ingresar un correo', trigger: ['blur', 'change'] },
                    { type: 'email', message: 'Ingrese un email valido', trigger: ['blur', 'change'] }
                ],
                username:[
                    {required:true,message:'Debe ingresar un nombre de usuario',trigger:['blur','change']}
                ]
            },
            validFormRules: {
                password: [
                    { validator: validatePass, trigger: 'blur' },
                    { required: true, message: 'Debe ingresar una contraseña', trigger: ['blur', 'change'] },
                    { min: 6, message: 'Su contraseña debe tener mínimo 6 letras', trigger: ['blur', 'change'] },
                ],
            }
        }
    },
    methods:{
        validar(){
            console.log(this.validForm)
            const self = this
            axios.defaults.headers.common['Authorization'] = 'Bearer '+this.$store.getters.access_token
            axios.post('/api/user/validPassword',{
                    id : self.validForm.id,
                    password: self.validForm.password
                })
            .then(response => {
                if(response.data.success){
                    if(self.action === "updateFormPersonal"){
                        self.updatePersonal()
                    }else{
                        self.updatePersonalPassword()
                    }
                }

            })
            .catch(err => {
                self.loading = false
                console.log(err)
                if(err.response.status == 403){
                    self.$notify({
                        title: 'Fallido',
                        message: 'Su contraseña es incorrecta',
                        type: 'warning'
                    });
                }

            })
        },
        validAction(ref){

            this.$refs[ref].validate((valid) => {
                if (valid) {
                    this.drawer = true
                    this.action = ref
                    this.validForm.id = this.user.id
                } else {
                    return false;
                }
            })

        },
        handleClose(done) {
            this.$confirm('¿Está seguro(a) de cancelar esta acción?')
            .then(_ => {
                done();
            })
            .catch(_ => {});
        },
        volver(){
            this.editPersonal = false
            this.editPassword = false
            this.errorsPersonal = []
            this.errorsPassword = []
        },
        logout(){
            this.$router.push({name:'logout'});
        },
        showPersonal(){
            this.updateFormPersonal.name = this.user.name
            this.updateFormPersonal.email = this.user.email
            this.updateFormPersonal.username = this.user.username
            this.updateFormPersonal.id = this.user.id
            this.editPersonal = true
        },
        showPassword(){
            this.updateFormPersonalPassword.id = this.user.id
            this.editPassword = true
        },
        updatePersonal(){
             this.$refs.updateFormPersonal.validate((valid) => {
                if (valid) {
                    this.loading = true;
                    this.errorsPersonal = []
                    var self = this;
                    setTimeout(function(){
                        self.$store.dispatch('updateUserPersonal',self.updateFormPersonal)
                        .then(response => {
                            self.drawer = false
                            self.validForm.id = ''
                            self.validForm.password = ''
                            //console.log(response)
                            self.loading = false
                            self.$notify({
                                title: 'Completado',
                                message: 'Informacion actualizada',
                                type: 'success'
                            });
                            self.volver()


                            //self.$router.push({name:'login'});
                        }).catch(error => {
                            console.log(error)
                            if(error.response.status == 422){
                                self.errorsPersonal = error.response.data.errors
                            }
                            self.loading = false
                            //self.$router.push({name:'login'});
                        })
                    },1500)
                } else {
                    return false;
                }
            })
        },
        updatePersonalPassword(){
            this.$refs.updateFormPersonalPassword.validate((valid) => {
                if (valid) {
                    this.loading = true;
                    this.errorsPassword= []
                    var self = this;
                    setTimeout(function(){
                        self.$store.dispatch('updateUserPersonalPassword',self.updateFormPersonalPassword)
                        .then(response => {
                            //console.log(response)
                            self.drawer = false
                            self.validForm.id = ''
                            self.validForm.password = ''
                            self.loading = false
                            self.$notify({
                                title: 'Completado',
                                message: 'Informacion actualizada',
                                type: 'success'
                            });
                            self.$refs.updateFormPersonalPassword.resetFields()
                            self.volver()
                            //self.$router.push({name:'login'});
                        }).catch(error => {
                            console.log(error)
                            if(error.response.status == 422){
                                self.errorsPersonal = error.response.data.errors
                            }
                            self.loading = false
                            //self.$router.push({name:'login'});
                        })
                    },1500)
                } else {
                    return false;
                }
            })
        }

    }
}
</script>
