<template>
    <div>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Proyecto de prueba técnica</h1>
                <p class="lead font-weight-normal">Este proyecto fue creado por Bastián León</p>
                <router-link :to="{name: 'productos_web'}" tag="a" class="btn btn-outline-secondary">Ver productos</router-link>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>
    </div>
</template>

<script>
export default {
    created(){
         this.$store.commit('SET_LAYOUT', 'web')
    },

}
</script>
