<template>
    <div>
         <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <h3>Productos</h3>
            <el-row class="p-3">
                <el-col :span="4" v-for="(producto, index) in productos" :key="index" :offset="index > 0 ? 2 : 0">
                    <el-tooltip class="item" effect="dark" :content="loggedIn ? 'Descripción: '+producto.descripcion : 'Inicie sesión para ver la descripción'" placement="bottom">
                        <el-card :body-style="{ padding: '0px' }">
                            <img :src="'/imagenes/productos/'+producto.foto" class="image">
                            <div style="padding: 14px;">
                                <span>{{producto.nombre }}</span>
                                <div class="bottom clearfix">
                                    <time class="time">Subido por {{ producto.usuario.name }}</time>
                                </div>
                            </div>
                        </el-card>
                    </el-tooltip>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                    <pagination
                        v-if="pagination.last_page > 1"
                        :pagination="pagination"
                        :offset="1"
                        @paginate="getData() ">
                    </pagination>
                </el-col>
            </el-row>
        </div>

    </div>
</template>

<script>
import Pagination from '../partials/PaginateComponent'

export default {
    components: {
        'pagination' : Pagination
    },
    computed:{
        loggedIn(){
            return this.$store.getters.loggedIn
        },
    },
    mounted(){
        this.getData()
    },
    data(){
        return{
            productos:[],
            pagination: {
                current_page: 1
            },
        }
    },
    methods:{
        getData(){
            this.loading = true;
            this.$Progress.start();
            axios.get("/api/productos/indexWeb?page=" + this.pagination.current_page,{
                headers:{
                    Authorization: 'Bearer '+this.$store.getters.access_token
                }
            })
            .then(response => {
                //console.log(response)
                this.productos = response.data.data;
                this.pagination = response.data.meta;
                this.$Progress.finish();
                this.loading = false;
            })
            .catch(e => {
                console.log(e);
                this.$Progress.fail();
                this.loading = false;
            });
        }
    }
}
</script>

<style lang="css" scoped>
 .time {
    font-size: 13px;
    color: #999;
  }
.image {
    width: 250px;
    height: 300px;
    display: block;
  }
</style>
