<template>
    <div>
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <router-link :to="{name:'panel'}" tag="a" class="navbar-brand col-sm-3 col-md-2 mr-0">Empresa</router-link>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <router-link :to="{name:'logout'}" tag="a" class="nav-link">Salir</router-link>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <router-link :to="{name:'root'}" class="nav-link" exact><i class="el-icon-back"></i> Volver al sitio web</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name:'panel'}" class="nav-link" exact><i class="el-icon-data-line"></i> Panel de control</router-link>
                            </li>
                             <li class="nav-item">
                                <router-link :to="{name:'admin_productos'}" class="nav-link" exact><i class="el-icon-reading"></i> Productos</router-link>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Reportes</span>
                        </h6>
                        <ul class="nav flex-column mb-2">
                           <li class="nav-item">
                                <router-link :to="{name:'registros'}" class="nav-link" exact><i class="el-icon-data-analysis"></i> Registros del sistema</router-link>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <router-view></router-view>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
export default {
created(){
        this.$store.commit('SET_LAYOUT', 'admin')
    }
}
</script>

<style lang="css" scoped>

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
</style>
