<template>
    <div>
        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                <a class="py-2" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                </a>
                <router-link :to="{name:'root'}" tag="a" class="py-2 d-none d-md-inline-block" exact>Inicio</router-link>
                <router-link :to="{name:'productos_web'}" tag="a" class="py-2 d-none d-md-inline-block" exact>Productos</router-link>
                <router-link v-if="!loggedIn" :to="{name:'login'}" tag="a" class="py-2 d-none d-md-inline-block" exact>Ingreso</router-link>
                <router-link v-if="!loggedIn" :to="{name:'registro'}" tag="a" class="py-2 d-none d-md-inline-block" exact>Registrate</router-link>
                <router-link v-if="loggedIn" :to="{name:'cuenta'}" tag="a" class="py-2 d-none d-md-inline-block" exact>Mi Cuenta</router-link>
                <router-link v-if="loggedIn && user.rol === 1" :to="{name:'panel'}" tag="a" class="py-2 d-none d-md-inline-block" exact>Panel Administrador</router-link>
                <router-link v-if="loggedIn" :to="{name:'logout'}" tag="a" class="py-2 d-none d-md-inline-block" exact>Cerrar Sesión</router-link>
            </div>
        </nav>
        <transition name="fade">
            <router-view></router-view>
        </transition>

        <footer class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                    <small class="d-block mb-3 text-muted">&copy; 2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Menú</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <router-link :to="{name:'root'}" tag="a" class="text-muted" exact>Inicio</router-link>
                        </li>
                        <li>
                            <router-link :to="{name:'panel'}" tag="a" class="text-muted" exact>Productos</router-link>
                        </li>
                        <li v-if="!loggedIn">
                            <router-link :to="{name:'login'}" tag="a" class="text-muted" exact>Ingreso</router-link>
                        </li>
                        <li v-if="!loggedIn">
                            <router-link :to="{name:'login'}" tag="a" class="text-muted" exact>Registrate</router-link>
                        </li>
                        <li v-if="loggedIn">
                            <router-link :to="{name:'cuenta'}" tag="a" class="text-muted" exact>Mi Cuenta</router-link>
                        </li>
                        <li v-if="loggedIn && user.rol === 1">
                            <router-link :to="{name:'panel'}" tag="a" class="text-muted" exact>Panel administrador</router-link>
                        </li>
                        <li v-if="loggedIn">
                            <router-link :to="{name:'logout'}" tag="a" class="text-muted" exact>Cerrar sesión</router-link>
                        </li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Otras características</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a href="javascript:void(0)" class="text-muted">Quienes somos</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="text-muted">Portal de ayudantia</a>
                        </li>

                    </ul>
                </div>

            </div>
        </footer>
    </div>
</template>

<script>
export default {
    created(){
        this.$store.commit('SET_LAYOUT', 'web')
    },
    computed:{
        loggedIn(){
            return this.$store.getters.loggedIn
        },
        user(){
            return this.$store.getters.user
        }
    },
}
</script>

<style lang="css" scoped>
    .container {
        max-width: 960px;
    }
    .site-header {
        background-color: rgba(0, 0, 0, .85);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
    .site-header a {
        color: #7aca03;
        transition: ease-in-out color .15s;
    }
    .site-header a:hover {
        color: #fff;
        text-decoration: none;
    }
    .overflow-hidden { overflow: hidden; }


    .fade-enter-active, .fade-leave-active {
        transition-property: opacity;
        transition-duration: .30s;
    }

    .fade-enter-active {
        transition-delay: .30s;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }

    .router-link-active{
        color:#fff;
    }
    .router-link-exact-active{
        color:#fff;

    }

</style>
